<header>
 <!-- <div class="container">
    <div class="header-left">
      <img class="logo" src="#">
    </div>
    <div class="header-right">
      <div class="login">ログイン</div>
    </div>
  -->
    <div class="container">
      <!-- ヘッダのメニュー(ナビバー)指定(navbar-expandも使用する)
      navbar-lightでグレー委する-->  
        <nav class="navbar navbar-expand-sm navbar-light">
          <!--navbar-brand サイズ補正-->
            <a href="" class="navbar-brand">Logo</a>
            <!-- navbar-toggleレスポンスナビ
            PCブラウザの時隠すため data-toggle="collapse"
            data-targetでレスポンスナビの中身指定
            -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
              <!-- navbar-toggle-iconハンバーガーメニューロゴ -->
              <span class="navbar-toggle-icon"></span>
            </button>
            <div id="menu" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item nav-link">
                  <%= link_to("新規登録","/user/signup")%> 
                </li>
                <li class="nav-item"><a href="" class="nav-link">Link</a></li>
                <li class="nav-item"><a href="" class="nav-link">Link</a></li>
              </ul>
            </div>
        </nav>
    </div>
</header>
